<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>
            <h1> Your Account </h1>

        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form >
            <mat-form-field >
              <mat-label>Full Name</mat-label>
              <input matInput  id="Name" matInput value="{{name}}" disabled>

            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" id="Email" matInput value="{{email}}" disabled>
              </mat-form-field>
            <mat-form-field >
            <mat-label>Address</mat-label>
            <input matInput  id="Address"  value="{{address}}">

            </mat-form-field>
          </form>
          <div>
            <button mat-button color="primary" (click)="changeData()" >
                Submit
            </button>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
