<h2 mat-dialog-title>Bill</h2>
<mat-list >
    <mat-list-item class="full-height" *ngFor="let item of cart">
        <span matListItemTitle>
            {{item.name}}
        </span >
        <span matListItemLine>
            Quantity: {{item.quantity}}
        </span >
        <span matListItemLine>
            Price: {{item.price}}
        </span >
        <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
</mat-list>
<h3 class="details">Name: {{user.name}}</h3>
<h3 class="details">Address: {{user.address}}</h3>
<h3 class="details">Date: {{date}}</h3>
<h3 class="details">Total: {{total}} €</h3>
<mat-dialog-actions align="end">
    <button mat-button class="buttons" [mat-dialog-close]="true" cdkFocusInitial (click)="confirm()">Confirm</button>
  </mat-dialog-actions>
