<div class="header-row">
  <h2 mat-dialog-title> {{product.name}}</h2>
  <h2 mat-dialog-title class="left"> Price: {{selectedValue * product.price}} € </h2>
</div>
<mat-dialog-content>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <img mat-card-image src="{{product.photo}}"  class="photo">
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        {{product.description}}
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <mat-select [(value)]="selectedValue" class="buttons">
    @for (option of options; track option) {
      <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
    }
  </mat-select>
  <button mat-flat-button [mat-dialog-close]="true" class="buttons" color="primary" cdkFocusInitial (click)="buy()">ADD TO CART</button>
</mat-dialog-actions>
