<div class="bg">
  <div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>
            <h1> Create Account </h1>

        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form >
            <mat-form-field class="example-full-width">
              <mat-label>Full Name</mat-label>
              <input matInput  id="Name" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher">
                @if (nameFormControl.hasError('required')) {
                    <mat-error>Name is <strong>required</strong></mat-error>
                }
            </mat-form-field >
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" id="Email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                       >
                @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                  <mat-error>Please enter a valid email address</mat-error>
                }
                @if (emailFormControl.hasError('required')) {
                  <mat-error>Email is <strong>required</strong></mat-error>
                }
              </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" id="Password" [formControl]="passFormControl" [errorStateMatcher]="matcher">
                @if (passFormControl.hasError('required')) {
                    <mat-error>Password is <strong>required</strong></mat-error>
                }
              </mat-form-field>
            <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput  id="Address" [formControl]="addressFormControl" [errorStateMatcher]="matcher">
            @if (addressFormControl.hasError('required')) {
                <mat-error>Address is <strong>required</strong></mat-error>
            }
            </mat-form-field>
          </form>
          <div>
            <button mat-flat-button class="buttons" color="primary" (click)="createUser()" 
            [disabled]="(nameFormControl.hasError('required') || emailFormControl.hasError('required') || emailFormControl.hasError('email')
                        || passFormControl.hasError('required') || addressFormControl.hasError('required'))">
                Submit
            </button>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

